.form {
    width: 50%;
    height: 400px;
    margin: auto;
    border: solid 1px;
    padding: .8rem;
    box-shadow: 0 0 1.5em rgba(221, 190, 15, 0.479);
}

h1 {
    text-align: center;
    font-size: 1.7rem;
    color: rgb(187, 180, 172);
    margin-bottom: 3rem;
    margin-top: 2rem;
    text-shadow: 0.1em 0.1em 0.05em rgba(177, 174, 174, 0.603)
}

.full-width {
    width: 100%;
    margin-bottom: .8rem;
}

button {
    width: 100%;
    margin-bottom: .5rem;
    font-size: 1rem;
}