<div class="container">
    <h1>Formulário para Atualizar Ordem de Serviço</h1>
    <div class="labels">
        <mat-form-field appearance="fill">
            <mat-label>Selecione um Técnico</mat-label>
            <mat-select [(value)]="os.tecnico">
                <mat-option *ngFor="let tec of tecnicos" value="{{ tec.id }}">{{tec.nome}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Selecione um Cliente</mat-label>
            <mat-select [(value)]="os.cliente">
                <mat-option *ngFor="let cli of clientes" value="{{ cli.id }}">{{cli.nome}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Selecione um Status</mat-label>
            <mat-select [(value)]="os.status ">
                <mat-option value="0 ">ABERTA</mat-option>
                <mat-option value="1 ">EM ANDAMENTO</mat-option>
                <mat-option value="2 ">ENCERRADA</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Selecione Uma Prioridade</mat-label>
            <mat-select [(value)]="os.prioridade">
                <mat-option value="0 ">BAIXA</mat-option>
                <mat-option value="1 ">MEDIA</mat-option>
                <mat-option value="2 ">ALTA</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <form class="form">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Adicione Abaixo as Observações da Ordem de Serviço:</mat-label>
            <textarea [(ngModel)]="os.observacoes " name="observacoes" matInput maxlength=" 1900"></textarea>
        </mat-form-field>
    </form>
    <button (click)="update() " class="mat-elevation-z8 " mat-stroked-button color="accent">ATUALIZAR</button>
    <button (click)="cancel()" class="mat-elevation-z8 " mat-stroked-button color="warn">CANCELAR</button>

</div>